.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__header,
.app__footer {
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
}

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__main > .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__footer {
  justify-content: center;
}
