:root {
  --text: #081f32;
  --text-h: #212121;
  --text-secondary: #00000099;
  --bg: #fff;
  --border: #393939;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0.25px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
} */

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin: 0;
}

h3 {
  font-family: var(--heading);
  font-weight: 700;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
